body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1379df;
    color: #000000;
}

header {
    background: #0368ff;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 10px;
}

.profile-pic {
    width: 0px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
    object-fit: cover;
}

.container h1 {
    margin: 10px 0 5px;
}

.section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.section h2 {
    color: #0066ff;
    margin-bottom: 10px;
}

.skills span {
    display: inline-block;
    background: #e9ecef;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.center {
    text-align: center;
}

button {
    background: #0d6efd;
    color: rgb(245, 245, 245);
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #084298;
}

footer {
    text-align: center;
    padding: 15px;
    background: #000000;
    color: rgb(255, 255, 255);
}
